/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define WIRED_BOARD

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/lily58.h"
#include "zmk-helpers/unicode-chars/currency.dtsi"

#include "mouse.dtsi"
#include "combos.dtsi"
#include "behave.dtsi"

/* Layers */
#define DEF 0
#define NAV 1
#define MSE 2

// Extra thumb keys used in HRM (not-available in coral)
#define LH4
#define LH5
#define RH4
#define RH5

// tap: media next | double-tap: media previous
ZMK_TAP_DANCE(l_rot,
    tapping-term-ms = <250>;
    bindings = <&kp C_NEXT>, <&kp C_PREV>;
)

// tap: play/pause | double-tap: mute
ZMK_TAP_DANCE(r_rot,
    tapping-term-ms = <250>;
    bindings = <&kp C_PP>, <&kp C_MUTE>;
)

/* Keymap */

// TODO:
// - Paste keymap
// - &bootloader combo
// - &sys_reset combo

ZMK_LAYER(base,
//╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
    &kp N1        &kp N2        &kp N3        &kp N4        &kp N5        &kp N6                            &kp N7        &kp N8        &kp N9        &kp N0        &kp MINUS       &kp EQUAL
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp TAB       &kp Q         &kp W         &kp E         &kp R         &kp T                             &kp Y         &kp U         &kp I         &kp O         &kp P           &kp LBKT
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp GRAVE     &hml LGUI A   &hml LALT S   &hml LSHFT D  &hml LCTRL F  &kp G                             &kp H         &hmr LCTRL J  &hmr RSHFT K  &hmr LALT L   &hmr LGUI SEMI  &kp APOS
//├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭──────╮ ╭──────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
    &kp BSLH      &kp Z         &kp X         &kp C         &kp V         &kp B          &l_rot   &r_rot    &kp N         &kp M         &kp COMMA     &kp DOT       &kp FSLH        &kp RBKT
//╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╰──────╯ ╰──────╯ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                &copy_cut     &kp PSCRN     &kp ESC       &lt NAV RET                       &lt_spc NAV 0 &kp BSPC      &kp DEL       ___
//                            ╰─────────────┴─────────────┴─────────────┴─────────────╯                   ╰─────────────┴─────────────┴─────────────┴─────────────╯
  , &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN
)

// ZMK_LAYER(nav,
// //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//     &kp F1        &kp F2        &kp F3        &kp F4         &kp F5         &kp F6                          &kp C_PREV    &kp C_PP      &kp C_NEXT    &kp C_MUTE    &kp C_VOL_UP  &kp C_VOL_DN
// //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     &kp F7        &hml LGUI F8  &hml LALT F9  &hml LSHFT F10 &hml LCTRL F11 &kp F12                         &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &kp C_BRI_UP  &kp C_BRI_UP
// //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     ___           ___           ___           ___           ___           &mo MSE                           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___           ___
// //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭──────╮ ╭──────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     ___           ___           ___           ___           ___           ___             ___      ___      &kp INS       &kp TAB       &kp LT        &kp GT        ___           ___
// //╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╰──────╯ ╰──────╯ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
//                                 ___           ___           ___           XXX                               XXX           CANCEL        ___           ___
// //                            ╰─────────────┴─────────────┴─────────────┴─────────────╯                   ╰─────────────┴─────────────┴─────────────┴─────────────╯
// )

// ZMK_LAYER(mouse,
// //╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
//     ___           ___           ___           ___           ___           ___                               ___           ___           ___           ___           ___           ___
// //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     ___           ___           ___           ___           ___           ___                               ___           &mkp LCLK     &mkp MCLK     &mkp RCLK     ___           ___
// //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     ___           ___           ___           ___           ___           XXX                               U_MS_L        U_MS_D        U_MS_U        U_MS_R           ___           ___
// //├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╭──────╮ ╭──────╮ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
//     ___           ___           ___           ___           ___           ___             ___      ___      ___           ___           ___           ___           ___           ___
// //╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ╰──────╯ ╰──────╯ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
//                                 ___           ___           ___           XXX                               ___           CANCEL        ___           ___
// //                            ╰─────────────┴─────────────┴─────────────┴─────────────╯                   ╰─────────────┴─────────────┴─────────────┴─────────────╯
// )

// ZMK_LAYER(uc,
// //╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭──────╮
//     X_LT     ___           &el_omega     &el_phi       &el_pi        &el_beta        X_MT     ___           &el_lambda    &el_upsilon   &el_psi       &de_eszett      X_RT
// //├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
//     X_LM     &el_alpha     &el_rho       &el_sigma     &el_tau       &el_gamma       X_MM     &el_mu        &el_nu        &el_epsilon   &el_iota      &el_omikron     X_RM
// //├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├──────┤
//     X_LB     &el_zeta      &el_xi        &el_chi       &el_delta     &el_theta       X_MB     &el_kappa     &el_eta       &de_ae        &de_oe        &de_ue          X_RB
// //├──────┤ ╰─────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├──────┤ ├─────────────┼─────────────┼─────────────┴───────────────────────────╯ ├──────┤
//     X_LH                                               ___           ___             X_MH     ___           ___                                                       X_RH
// //╰──────╯                                           ╰─────────────┴─────────────╯ ╰──────╯ ╰───────────────────────────╯                                           ╰──────╯
// )
